@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

.right-hero {
  right: -100px;
}

.homepage-signup-link {
  background-color: #0065ff;
  padding: 7px 8px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  letter-spacing: 0.8px;
}

.homepage-login-link {
  color: #0065ff;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  transition: background 1s ease 0s;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-rightside {
  right: -720px;
  top: -10px;
}

section#hero {
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  overflow-x: hidden;
}

.homepage-hero-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-signup-form {
  background-color: #0065ff;
  padding: 7px 30px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  letter-spacing: 0.8px;
  width: 40%;
  text-align: center;
  max-width: 175px !important;
  font-size: 1.1rem;
}

.homepage-email {
  width: 70% !important;
  font-size: 1.2rem !important;
  font-weight: bold;
}

.homepage-hero-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 55px;
}

.homepage-hero-text {
  letter-spacing: 0.8px;
  line-height: 30px;
  font-size: 1.3rem;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 0px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0px;
}

#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-title {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 55px;
}

.product-p {
  letter-spacing: 0.3px;
  line-height: 30px;
  font-size: 1.3rem;
  padding: 0 120px;
}

.product-logos-text {
  letter-spacing: 0.5px;
  line-height: 30px;
  font-size: 1.3rem;
  padding: 0 120px;
}

.product-image {
  width: 100%;
}

#features {
  display: flex;
  flex-direction: column;
  padding: 100px 300px;
}

.features-succeed-title,
.features-board-title,
.features-cards-title,
.features-powerups-title,
.features-butler-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 55px;
}

.features-succeed-text,
.features-board-p,
.features-cards-p,
.features-butler-p,
.features-powerups-p {
  letter-spacing: 0.6px;
  line-height: 30px;
  font-size: 1.3rem;
}

.features-board-p,
.features-cards-p,
.features-butler-p,
.features-powerups-p {
  color: #7a869a;
}

.features-succeed,
.features-board,
.features-cards,
.features-butler,
.features-powerups {
  display: flex;
  margin: 60px 0;
}

.features-text-above-title,
.features-cards-text-above-title,
.features-butler-text-above-title,
.features-powerups-text-above-title {
  letter-spacing: 0.6px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.start-doing-btn {
  padding: 0 40px;
  width: 160px;
  letter-spacing: 0.9px;
  font-size: 1.2rem !important;
  margin: 30px 0;
}

.card .btn:focus {
  box-shadow: none;
}

.btn-link[aria-expanded='true']::before {
  content: '- ';
}

.btn-link[aria-expanded='false']::before {
  content: '+ ';
}

.card-header button {
  color: black;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  font-weight: bold;
  padding: 0 !important;
}

.card {
  border: none !important;
}

.card-body {
  font-size: 1.2rem;
  padding-left: 0 !important;
  letter-spacing: 0.7px;
}

.card-header {
  background: transparent !important;
  border-bottom: none !important;
  padding-left: 0 !important;
}

.card-header button:hover {
  color: black;
}

.check-out-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.check-out-text {
  font-size: 1.4rem;
  min-height: 100px;
}

.check-out-row {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 25px 0;
}

.check-out-link {
  width: 40%;
  font-weight: bold !important;
  letter-spacing: 1px;
  font-size: 1rem !important;
}

#customer-stories ul li.dot::before {
  background-color: #a5adba;
  border-radius: 50%;
  content: '';
  height: 10px;
  width: 10px;
}

section#customer-stories .carousel .row {
  width: 100%;
}

#sign-up {
  padding: 100px 20px;
}

#sign-up .sign-up-col {
  background: #eae6ff !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4c9aff), to(#403294)) !important;
  background-image: linear-gradient(0deg, #4c9aff, #403294 100%) !important;
  background-image: url('./images/trello-signup-background.png'),
    -webkit-gradient(linear, left bottom, left top, from(#4c9aff), to(#403294)) !important;
  background-image: url('./images/trello-signup-background.png'), linear-gradient(0deg, #4c9aff, #403294 100%) !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 8px !important;
  color: #fff !important;
  height: 300px;
}

.sign-up-row {
  margin-left: 10px !important;
}

.sign-up-col {
  min-height: 300px;
}

.btn-secondary {
  color: #fff !important;
  background-color: #00b8d9 !important;
  border-color: #00b8d9 !important;
  width: 160px !important;
  font-size: 1.2rem !important;
  letter-spacing: 1.8px;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #0098b3 !important;
  border-color: #008da6 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #008da6 !important;
  border-color: #008299 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 184 217 / 50%) !important;
}

.sign-up-email-input {
  width: 300px !important;
  font-size: 1.2rem !important;
  height: 40px !important;
  font-size: 1.2rem !important;
}

.sign-up-col {
  padding: 10px 160px !important;
  text-align: center;
}

.sign-up-title {
  font-weight: bold;
  padding-bottom: 20px;
}

#apps {
  background-color: #fafbfc;
}

.apps-text {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #091e42;
}

.apps-container {
  min-height: 100px;
}

.global-footer-select {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #edeff0;
  color: #959da1;
  padding: 0.5em;
  font-weight: bold;
}

.global-footer-select option {
  font-weight: bold;
}

.global-footer-select:active {
  border: 2px solid #edeff0 !important;
  color: #959da1 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.arrow-icon {
  color: #8993a4;
  top: 82px;
  left: 150px;
}

.global-footer-ul {
  list-style: none;

  letter-spacing: 0.7px;

  font-weight: bold;
}

.global-footer-ul a {
  text-decoration: underline;
  color: #8993a4;
}

.global-footer-ul a:hover {
  color: #4d4d4d;
}

.global-footer-li {
  margin: 0 10px;
}
