@media only screen and (max-width: 1199px) {
  .nav-rightside {
    right: -260px;
    top: 0px;
  }

  .right-hero {
    right: -5px;
  }

  .right-hero img {
    width: 60%;
  }

  .product-image {
    width: 75% !important;
    position: relative;
    right: 60px;
  }

  #features {
    padding: 100px 50px !important;
  }

  #features .container {
    padding-right: 0px !important;
  }

  .sign-up-col {
    margin-left: -40px;
  }

  .sign-up-row {
    padding: 0 50px;
  }

  .global-footer-ul {
    margin: 0 100px;
  }

  .check-out-text {
    font-size: 1.3rem;
  }

  .apps-row {
    position: relative;
    right: 60px;
  }

  .check-out-title {
    font-size: 1.5rem;
  }

  .check-out-row {
    padding-right: 100px !important;
  }

  .global-footer-row {
    position: relative;
    right: 0px;
  }

  #hero .row {
    position: relative;
    left: 80px;
  }

  .trello-logo-div {
    position: relative;
    left: 100px;
  }

  .homepage-hero-form {
    position: relative !important;
    left: 0px !important;
  }
}

@media only screen and (max-width: 993px) {
  .nav-rightside {
    right: -160px;
  }

  .right-hero {
    display: none;
  }

  .homepage-hero-title {
    font-size: 2.75rem;
  }

  .hero-container {
    padding: 10px 20px !important;
  }

  .product-title {
    font-size: 2.25rem;
  }

  .product-p {
    font-size: 1.1rem;
    padding: 0 30px;
  }

  .product-image {
    width: 60% !important;
  }

  .product-logos-text {
    font-size: 1.1rem;
    padding: 10px 30px;
  }

  section h2 {
    font-size: 2.25rem !important;
  }

  #features .container {
    padding-right: 120px;
  }

  #features {
    padding: 100px 40px !important;
  }
  .check-out-row {
    padding: 40px 0;
    padding-right: 50px !important;
    padding-left: 5px !important;
  }

  .sign-up-row {
    margin-left: 0.5rem !important;
    padding: 0 50px 0 50px;
  }

  .apps-row {
    right: 0px;
  }

  .global-footer-ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding-left: 60px;
  }

  .global-footer-img-div {
    padding-left: 60px;
  }

  .global-footer-copyright {
    padding-left: 60px;
  }
}

/* Responsible */
@media (max-width: 768px) {
}

@media screen and (max-width: 575px) {
  .nav-rightside {
    right: 0 !important;
    left: 50px !important;
    top: 1px !important;
    margin-right: 0 !important;
  }

  .left-hero {
    position: relative !important;
    right: -20px !important;
    top: 70px !important;
    text-align: center;
  }

  .homepage-hero-title {
    font-size: 2rem;
  }

  #hero,
  #product {
    padding: 50px 0px;
    display: block;
    text-align: center;
  }

  .left-hero {
    margin-right: 0px;
  }

  .homepage-hero-title {
    font-size: 2rem;
    line-height: 40px;
  }

  .homepage-email {
    display: none !important;
  }

  .homepage-signup-form {
    max-width: 295px !important;
    margin-left: 15px !important;
  }

  .hero-container {
    padding-top: 50px !important;
    padding-right: 15px !important;
  }

  .product-container {
    padding-right: 15px !important;
  }

  .product-p {
    padding: 0 5px;
  }

  .product-title {
    font-size: 2rem;
    line-height: 40px;
  }

  .product-logos-text {
    padding: 10px 10px;
    margin-top: 10px;
  }

  #features {
    padding: 20px 20px !important;
  }

  section h2 {
    font-size: 1.5rem !important;
    line-height: 1.33333333 !important;
  }

  #features .container {
    padding-right: 0;
  }

  .check-out-title {
    font-size: 1.5rem;
  }

  .check-out-text {
    font-size: 1.3rem;
  }

  .check-out-left-col {
    margin-bottom: 30px;
  }

  .sign-up-title {
    font-size: 1.3rem;
  }

  .sign-up-row {
    margin-left: -15px !important;
    margin-right: 30px !important;
  }

  .sign-up-title {
    width: 250px !important;
  }

  .sign-up-email-button {
    width: 265px !important;
  }

  .sign-up-email-input {
    display: none !important;
  }

  .sign-up-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .product-image {
    right: 0 !important;
  }

  .sign-up-row {
    position: relative;
    right: -66px;
  }

  .apps-row {
    margin-left: 90px !important;
  }

  .global-footer-ul {
    padding-left: 170px;
  }

  .global-footer-select {
    position: relative;
    left: 20px;
  }

  .arrow-icon {
    margin-left: 20px;
  }

  .global-footer-img-div {
    padding-left: 160px;
  }

  .global-footer-copyright {
    padding-left: 160px;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .sign-up-row {
    position: relative;
    right: -46px;
  }
}

@media screen and (max-width: 370px) {
  .sign-up-row {
    position: relative;
    left: 40px;
  }
}

@media screen and (max-width: 360px) {
  .nav-rightside {
    left: 20px !important;
    top: 20px !important;
  }

  .trello-logo-div {
    top: 17px !important;
    position: relative;
  }

  .check-out-link {
    width: 50%;
  }

  .sign-up-col {
    padding: 10px 0px !important;
  }

  .sign-up-row {
    position: relative;
    left: 40px;
  }
}

/* end Responsible */
