@media only screen and (max-width: 1199px) {
  .nav-rightside {
    right: -200px;
  }

  .right-hero {
    right: -5px;
  }

  .right-hero img {
    width: 60%;
  }

  .product-image {
    width: 75% !important;
  }

  #features {
    padding: 100px 50px !important;
  }

  #features .container {
    padding-right: 200px;
  }
}

@media only screen and (max-width: 993px) {
  .nav-rightside {
    right: -120px;
  }

  .right-hero {
    display: none;
  }

  .homepage-hero-title {
    font-size: 2.75rem;
  }

  .hero-container {
    padding: 10px 20px !important;
  }

  .product-title {
    font-size: 2.25rem;
  }

  .product-p {
    font-size: 1.1rem;
    padding: 0 30px;
  }

  .product-image {
    width: 60% !important;
  }

  .product-logos-text {
    font-size: 1.1rem;
    padding: 10px 30px;
  }

  section h2 {
    font-size: 2.25rem !important;
  }

  #features .container {
    padding-right: 120px;
  }

  #features {
    padding: 100px 40px !important;
  }
}

/* Responsible */
@media (max-width: 768px) {
}

@media screen and (max-width: 575px) {
  .nav-rightside {
    right: 0 !important;
    left: 60px !important;
    top: 1px !important;
    margin-right: 0 !important;
  }

  .left-hero {
    position: relative !important;
    right: -20px !important;
    top: 70px !important;
    text-align: center;
  }

  .homepage-hero-title {
    font-size: 2rem;
  }

  #hero,
  #product {
    padding: 50px 0px;
    display: block;
    text-align: center;
  }

  .left-hero {
    margin-right: 0px;
  }

  .homepage-hero-title {
    font-size: 2rem;
    line-height: 40px;
  }

  .homepage-email {
    display: none !important;
  }

  .homepage-signup-form {
    max-width: 295px !important;
    margin-left: 15px !important;
  }

  .hero-container {
    padding-top: 50px !important;
    padding-right: 15px !important;
  }

  .product-container {
    padding-right: 15px !important;
  }

  .product-p {
    padding: 0 5px;
  }

  .product-title {
    font-size: 2rem;
    line-height: 40px;
  }

  .product-logos-text {
    padding: 10px 10px;
    margin-top: 10px;
  }

  #features {
    padding: 100px 20px !important;
  }

  section h2 {
    font-size: 1.5rem !important;
    line-height: 1.33333333 !important;
  }

  #features .container {
    padding-right: 0;
  }
}

@media screen and (max-width: 360px) {
}

/* end Responsible */
